@model HowToSoftware.Web.Models.PaginationViewModel

@if (Model.TotalPages > 1)
{
    <div class="pagination-container gh-canvas">
        <nav class="pagination">
            <div class="pagination-left">
                @if (Model.HasPreviousPage)
                {
                    var prevPage = Model.CurrentPage - 1;
                    var prevUrl = prevPage == 1 ? Model.BaseUrl : $"{Model.BaseUrl}page/{prevPage}/";
                    <a class="newer-posts" href="@prevUrl">&larr; Previous</a>
                }
            </div>

            <span class="page-number hidden-xs hidden-sm">Page @Model.CurrentPage of @Model.TotalPages</span>

            <div class="pagination-right">
                @if (Model.HasNextPage)
                {
                    <a class="older-posts" href="@(Model.BaseUrl)page/@(Model.CurrentPage + 1)/">Next &rarr;</a>
                }
            </div>
        </nav>
    </div>
}

@*
    © 2026 Henry Lawrence Cahill (HowToSoftware). All rights reserved.
    Contact: henry.cahill@howtoosoftware.com | https://howtoosoftware.com
*@
